fastapi
uvicorn
pymongo
motor
scikit-learn
pandas
numpy
joblib
pydantic
transformers
torch
tf-keras
requests
spotipy
aiohttp
aiosqlite
sqlalchemy[asyncio]
bcrypt
PyJWT
slowapi
python-dotenv
pydantic[email]
